<div class="container">
<div class="user-regForm" ng-if="!userInfoCtrl.userInfo">
  <span >Not Signed Up Yet.<a ui-sref="public.registration"> Sign up Now!</a></span>
</div>

<div class="user-regForm" ng-if="userInfoCtrl.userInfo">
  <h1 ng-if="userInfoCtrl.userInfo">User's Registered Information</h1>

  <legend>Newsletter and Promotions Signup Information</legend>
  <div id="info" >
    <div class="userInfo" ng-if="userInfoCtrl.userInfo.firstName">
      First Name: <span class="userInfo-value">{{ userInfoCtrl.userInfo.firstName}}</span>
    </div>
    <div class="userInfo" ng-if="userInfoCtrl.userInfo.lastName">
      Last Name: <span class="userInfo-value">{{ userInfoCtrl.userInfo.lastName}}</span>
    </div>
    <div class="userInfo" ng-if="userInfoCtrl.userInfo.email">
      Email: <span class="userInfo-value">{{ userInfoCtrl.userInfo.email}}</span>
    </div>
    <div class="userInfo" ng-if="userInfoCtrl.userInfo.phone">
      Phone: <span class="userInfo-value">{{ userInfoCtrl.userInfo.phone }}</span>
    </div>


    <div class="userInfo-menuItem" ng-if="userInfoCtrl.userInfo.menuItem.name">
      <menu-item menu-item="userInfoCtrl.userInfo.menuItem">
      </menu-item>
    </div>



  </div>
</div>
</div>
